
body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color:#d8d2c2cb;
    text-shadow: 1px 1px 2px #4A4947;
}

#cabecalho .nav .nav-link.active {
    background-color: #4A4947;
    color: #D8D2C2;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover
.nav-cardapio .nav-link.active:hover {
    color: #B17457;
}

.navbar-toggler {
    background-color: #1a203b00;
}

.section-title {
    font-family: Pacifico, cursive;
    text-shadow: 1px 1px 2px #B17457;
}

.section-title .text-colored {
    color: #B17457;
    text-shadow: 1px 1px 2px #000000;
}

.section-title .text-colored2 {
    color: #f6c684;
    text-shadow: 1px 1px 2px #B17457;
}

#sobre-cafeteria, #cardapio{
    background-color: #FAF7F0;
    text-shadow: 1px 1px 2px #603F26;
}

.text-colored {
    color: #603F26;
    text-shadow: 1px 1px 2px #603F26;
}

.text-colored2 {
    color: #f6c684;
    text-shadow: 1px 1px 2px #603F26;
}

#eventos {
    background-color: #603F26;
    text-shadow: 1px 1px 2px #D8D2C2;
    color: #e6e3cc;
}

.nav-cardapio button {
    color: #4A4947;
}

.nav-cardapio .nav-link.active, 
#fale-conosco button {
    color: #f6c684;
    background-color: #603F26;
}

.nav-cardapio .nav-link:hover {
    background-color: #4A4947;
    color: #B17457;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#fale-conosco {
    background-color: #D8D2C2;
    text-shadow: 2px 2px 4px #f6c684;
    color: #f6c684;
}

.img-effects:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}