
body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color:#8d2809;
    text-shadow: 1px 1px 2px #1a203b;
}

.nav .nav-link.active {
    background-color: #f6c684;
    color: #8d2809;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #f6c684;
}

.navbar-toggler {
    background-color: #1a203b;
}

.section-title {
    font-family: Pacifico, cursive;
    text-shadow: 1px 1px 2px #1a203b;
}

.section-title span {
    color: #e88320;
}

#sobre-o-restaurante {
    background-color: #e6e3cc;
    text-shadow: 1px 1px 2px #1a203b;
}

.text-colored {
    color: #e88320
}

#eventos {
    background-color: #1a203b;
    text-shadow: 1px 1px 2px #812408;
    color: #e6e3cc;
}
/* pallete: 
#e88320
#f6c684
#8d2809
#93a96b
#cbc8a8
#51632c */